<div class="main_container">
    <h2>дратути)0))</h2>
    <form class="shitform" action="auth/login" method="post">
        <textarea name="login" rows="1" cols="50"></textarea><br />
        <textarea name="pass" rows="1" cols="50"></textarea><br />
    <button type="submit">login</button>
  </form>
<div>   