<div class="main_container">
  <h2>Золотые посты</h2>
  
  <!-- привки
  <table class="feed" border="solid black 1px">
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.id %></td>
        <td><%= post.title %></td>
        <td><img src="<%= post.content %>"</td>
      </tr>
    <% end %>
  </table>
  -->
  <h3><%= session[:user_id] %></h3>
  <% @posts.each do |post| %>
    <div>
        <img src="<%= post.title %>"/>
  			<p><em><%= post.content %></em></p>
    </div>
  <% end %>
  
  <form class="shitform" action="shitpost/add" method="post">
    <textarea name="content" rows="3" cols="50">Умные слова</textarea><br />
    <textarea name="title" rows="1" cols="50">URL на картинку</textarea><br />
    <button type="submit">Shitpost!</button>
  </form>
</div>

