/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 td {
 	max-width: 500px;	
 }
 
 .feed {
 	margin: 15px 0px 0px 15px;
 }
 
 textarea {
   resize: none;
 }
 
 /*
body {
	color: #E5BB09;
	text-align: center;
	background: #2E2E2E url(<%= image_path "back.jpg" %>) repeat-y fixed center top; 
	width: 40em;
	margin: 0 auto;
	padding: 0;
	font-family: Verdana, Arial, sans-serif;
}

.header-pic {
	margin: 0;
	border: none;
}

img, iframe {
	max-width: 40em;
	text-align: center;
	margin: 4em auto 0;
	border: 1.2em solid transparent;
	border-image: url(<%= image_path "border_side.jpg" %>) 30 1 round;
}

*/