<!DOCTYPE html>
<html>
<head>
  	<title>Welocme to Hell!</title>
		<style>
			body {
				color: #E5BB09;
				text-align: center;
				background: #2E2E2E url(<%= image_path "back.jpg" %>) repeat-y fixed center top; 
				width: 40em;
				margin: 0 auto;
				padding: 0;
				font-family: Verdana, Arial, sans-serif;
			}
			
			.header-pic {
				margin: 0;
				border: none;
			}
			
			img, iframe {
				max-width: 40em;
				text-align: center;
				margin: 4em auto 0;
				border: 1.2em solid transparent;
				border-image: url(<%= image_path "border_side.jpg" %>) 30 1 round;
			}
		</style>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  	<h1>Добро пожаловать на стену плача!</h1>
	<marquee>Если вы по счастливой случайности попали сюда, мочить и колбасить строго рекомендуется.</marquee>

	<%= yield %>
	
</body>
</html>